@import '../abstract/variables';

main{
    .section__container--john{
        align-items: center;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $desktop){
            flex-direction: row-reverse;
        }

        display: none;
        
        .container__firstbg{
            @include contFirstbg;

            .firstbg{
                @include firstbg;
                @media screen and (min-width: $desktop){
                    @include firstbg-desktop;
                }
            }

            .main__picture--john{
                border-radius: .5rem;
                margin-top: 8%;
                width: 79%;
                @media screen and (min-width: $desktop){
                    @include profilepic-desktop;
                }
            }

            .main__buttons{
                position: absolute;
                bottom: 52%;
                
                .button{
                    background: $color-grayish-blue;
                    border-style: none;
                    padding: .5rem 1rem;
        
                }
        
                .john__button--left{
                    @include buttonLeft;
                }
            
                .john__button--right{
                    @include buttonRight;
                }
            }    
        }

        .container__secondbg{
            .main__apresentation--john{
                color: $color-dark-blue;
                font-size: 1.12rem;
                line-height: 1.5rem;
                padding-top: 1.5rem;
                text-align: center;
                width: 85%;
            } 
        }
    }
}
    
    