@import '../abstract/variables';

main{
    .container__john{
        align-items: center;
        display: flex;
        flex-direction: column;

        display: none;
        
        .container__firstbg{
            .main__picture--john{
                border-radius: .5rem;
                margin-top: 8%;
                width: 79%;
            }
        
            .john__button--left{
                border-radius: 1rem 0 0 1rem;
                position: relative;
                left: .2rem;
            }
        
            .john__button--right{
                border-radius: 0 1rem 1rem 0;
                position: relative;
                right: .2rem;
            }
        
        }

        .container__secondbg{
            .main__apresentation--john{
                color: $color-dark-blue;
                font-size: 1.12rem;
                line-height: 1.5rem;
                padding-top: 1.5rem;
                text-align: center;
                width: 85%;
            } 
        }
    }
}
    
    