@import '../abstract/variables';

main{
    .section__container--tanya{
        align-items: center;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $desktop){
            flex-direction: row-reverse;
        }

        .container__firstbg{
            @include contFirstbg;
    
            .firstbg{
                @include firstbg;
                @media screen and (min-width: $desktop){
                    @include firstbg-desktop;
                }
            }
    
            .main__picture--tanya{
                border-radius: .5rem;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 35px 34px -20px;
                margin-top: 8%;
                width: 79%;
                @media screen and (min-width: $desktop){
                    @include profilepic-desktop;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 40px 50px -20px;
                }
            }
            
            .main__buttons{
                position: absolute;
                bottom: 52%;

                @media screen and (min-width: $desktop){
                    top: 78.5%;
                    right: 38%;
                    z-index: 10;
                }
                
                .button{
                    background: $color-white;
                    border-style: none;
                    padding: .7rem 1rem;
                }
            
                .tanya__button--left{
                    @include buttonLeft;
                    @media screen and (min-width: $desktop){
                        @include buttonLeft-desktop;
                    }

                    .button__left--icon{
                        height: .9rem;

                        @media screen and (min-width: $desktop){
                            height: 1.1rem;
                        }
                    }
                }
            
                .tanya__button--right{
                    @include buttonRight;
                    @media screen and (min-width: $desktop){
                        @include buttonRight-desktop;
                    }

                    .button__right--icon{
                        height: .9rem;

                        @media screen and (min-width: $desktop){
                            height: 1.1rem;
                        }
                    }
                }
            }
        } 
    }
    
    .container__secondbg{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        @media screen and (min-width: $desktop){
            position: relative;
            left: 5%;
            width: 100%;
            margin-top: 13rem;
            background-position: top left 25%;
            background-size: 13vh;
        }

        .secondbg{
            background-image: url("../../assets/images/pattern-quotes.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top center;
            bottom: 40%;
            height: 7vh;
            position: absolute;
            width: 85vw;

            @media screen and (min-width: $desktop){
                background-position: top left 35%;
                bottom: 80%;
                height: 10vh;
            }
        }

        .main__apresentation{
            color: $color-dark-blue;
            font-size: 1.1rem;
            line-height: 1.5rem;
            padding-top: 1.5rem;
            text-align: center;
            width: 85%;

            @media screen and (min-width: $desktop){
                width: 80%;
            }

            @media screen and (min-width: $desktop){
                color: $color-dark-blue;
                font-size: 2rem;
                font-weight: 300;
                line-height: 2.5rem;
                text-align: start;
            }
        }
    
        .container__text--desktop{
            @media screen and (min-width: $desktop){
                align-items: center;
                display: flex;
                gap: .5rem;
                margin-top: 3rem;
                position: relative;
                right: 20%;
            }

            .main__name{
                color: $color-dark-blue;
                font-weight: 700;
                margin-top: 1rem;
                text-align: center;
    
                @media screen and (min-width: $desktop){
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
        
            .main__job{
                color: $color-grayish-blue;
                margin-top: .5rem;
                text-align: center;
    
                @media screen and (min-width: $desktop){
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }    
    
    }
        
    .thirdbg{
        background-image: url("../../assets/images/pattern-curve.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85vw;
        height: 12vh;

        @media screen and (min-width: $desktop){
            height: 20vh;
        }
    }
}