@import '../abstract/variables';

main{
    .section__container--tanya{
        align-items: center;
        display: flex;
        flex-direction: column;
        
        @media screen and (min-width: $desktop){
            flex-direction: row-reverse;
        }

        .container__firstbg{
            @include contFirstbg;
    
            .firstbg{
                @include firstbg;
                @media screen and (min-width: $desktop){
                    @include firstbg-desktop;
                }
            }
    
            .main__picture--tanya{
                border-radius: .5rem;
                margin-top: 8%;
                width: 79%;
                @media screen and (min-width: $desktop){
                    @include profilepic-desktop;
                }
            }
            
            .main__buttons{
                position: absolute;
                bottom: 52%;
                
                .button{
                    background: $color-grayish-blue;
                    border-style: none;
                    padding: .5rem 1rem;
        
                }
            
                .tanya__button--left{
                    @include buttonLeft;
                }
            
                .tanya__button--right{
                    @include buttonRight;
                }
            }
        } 
    }
    

    .container__secondbg{
        align-items: center;
        background-image: url("../../assets/images/pattern-quotes.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 9vh;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        .main__apresentation{
            color: $color-dark-blue;
            font-size: 1.1rem;
            line-height: 1.5rem;
            padding-top: 1.5rem;
            text-align: center;
            width: 85%;
        }
    
        .main__name{
            color: $color-dark-blue;
            font-weight: 700;
            margin-top: 1rem;
        }
    
        .main__job{
            color: $color-grayish-blue;
            margin-top: .5rem;
        }
    }    

    .thirdbg{
        background-image: url("../../assets/images/pattern-curve.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 85vw;
        height: 12vh;
    }
}