@mixin contFirstbg {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 85%;
}

@mixin firstbg {
    background-image: url("../../assets/images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 45vh;
    position: absolute;
    width: 85vw;
    z-index: -1;
}

@mixin buttonLeft {
    border-radius: 1rem 0 0 1rem;
    position: relative;
    left: .2rem;
}

@mixin buttonRight {
    border-radius: 0 1rem 1rem 0;
    position: relative;
    right: .2rem;
}


// Desktop version

@mixin firstbg-desktop{
    left: 45%;
    height: 100vh;
    top: 10%;
    width: 50vw;
}

@mixin profilepic-desktop{
    height: 64vh;
    margin-right: 35%;
    margin-top: 20%;
    width: auto;
}