main .section__container--tanya {
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  main .section__container--tanya {
    flex-direction: row-reverse;
  }
}
main .section__container--tanya .container__firstbg {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 85%;
}
main .section__container--tanya .container__firstbg .firstbg {
  background-image: url("../../assets/images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 45vh;
  position: absolute;
  width: 85vw;
  z-index: -1;
}
@media screen and (min-width: 1440px) {
  main .section__container--tanya .container__firstbg .firstbg {
    left: 45%;
    height: 100vh;
    top: 10%;
    width: 50vw;
  }
}
main .section__container--tanya .container__firstbg .main__picture--tanya {
  border-radius: 0.5rem;
  margin-top: 8%;
  width: 79%;
}
@media screen and (min-width: 1440px) {
  main .section__container--tanya .container__firstbg .main__picture--tanya {
    height: 64vh;
    margin-right: 35%;
    margin-top: 20%;
    width: auto;
  }
}
main .section__container--tanya .container__firstbg .main__buttons {
  position: absolute;
  bottom: 52%;
}
main .section__container--tanya .container__firstbg .main__buttons .button {
  background: hsl(240deg, 18%, 77%);
  border-style: none;
  padding: 0.5rem 1rem;
}
main .section__container--tanya .container__firstbg .main__buttons .tanya__button--left {
  border-radius: 1rem 0 0 1rem;
  position: relative;
  left: 0.2rem;
}
main .section__container--tanya .container__firstbg .main__buttons .tanya__button--right {
  border-radius: 0 1rem 1rem 0;
  position: relative;
  right: 0.2rem;
}
main .container__secondbg {
  align-items: center;
  background-image: url("../../assets/images/pattern-quotes.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 9vh;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
main .container__secondbg .main__apresentation {
  color: hsl(240deg, 38%, 20%);
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 85%;
}
main .container__secondbg .main__name {
  color: hsl(240deg, 38%, 20%);
  font-weight: 700;
  margin-top: 1rem;
}
main .container__secondbg .main__job {
  color: hsl(240deg, 18%, 77%);
  margin-top: 0.5rem;
}
main .thirdbg {
  background-image: url("../../assets/images/pattern-curve.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85vw;
  height: 12vh;
}

main .section__container--john {
  align-items: center;
  display: flex;
  flex-direction: column;
  display: none;
}
@media screen and (min-width: 1440px) {
  main .section__container--john {
    flex-direction: row-reverse;
  }
}
main .section__container--john .container__firstbg {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  width: 85%;
}
main .section__container--john .container__firstbg .firstbg {
  background-image: url("../../assets/images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 45vh;
  position: absolute;
  width: 85vw;
  z-index: -1;
}
@media screen and (min-width: 1440px) {
  main .section__container--john .container__firstbg .firstbg {
    left: 45%;
    height: 100vh;
    top: 10%;
    width: 50vw;
  }
}
main .section__container--john .container__firstbg .main__picture--john {
  border-radius: 0.5rem;
  margin-top: 8%;
  width: 79%;
}
@media screen and (min-width: 1440px) {
  main .section__container--john .container__firstbg .main__picture--john {
    height: 64vh;
    margin-right: 35%;
    margin-top: 20%;
    width: auto;
  }
}
main .section__container--john .container__firstbg .main__buttons {
  position: absolute;
  bottom: 52%;
}
main .section__container--john .container__firstbg .main__buttons .button {
  background: hsl(240deg, 18%, 77%);
  border-style: none;
  padding: 0.5rem 1rem;
}
main .section__container--john .container__firstbg .main__buttons .john__button--left {
  border-radius: 1rem 0 0 1rem;
  position: relative;
  left: 0.2rem;
}
main .section__container--john .container__firstbg .main__buttons .john__button--right {
  border-radius: 0 1rem 1rem 0;
  position: relative;
  right: 0.2rem;
}
main .section__container--john .container__secondbg .main__apresentation--john {
  color: hsl(240deg, 38%, 20%);
  font-size: 1.12rem;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 85%;
}

body {
  box-sizing: border-box;
  font-family: "Inter";
}/*# sourceMappingURL=style.css.map */